{% extends "base.html" %}
{% load static %}

{% block content %}


<div class="search-content">
    {% if thing %}
    <div id="left-nav">


        <div style="padding: 20px;">


            <h3 style="margin: 0px;"><a href="/thing/{{thing.id}}/search/">{{thing.name}}</a></h3>



            <span>{{thing.client}}</span>
            <p></p>
            <form action="/thing/{{thing.id}}/thingy/add/" method="post">
                {% csrf_token %}
                {{ new_thingy_form }}
                <input type="submit" value="Add">
            </form>


        </div>
        <div class="item-body">


            {% for thingy in thing.things.all %}
            <div class="thingy-content">
                <div class="thingy-content-header">
                    <h3><a href="/thing/thingy/{{thingy.id}}">{{thingy}}</a></h3>

                    <a style="font-size: 12px;padding-left:10px;" href="/thing/editthingy">edit</a>,
                    <a style="font-size: 12px;" href="/thing/thingy/delete/{{thingy.id}}">delete</a>
                </div>

                <div style="display: flex;flex-wrap: wrap;">


                    {% for ref in thingy.ref_materials.all %}
                    <a href="/search/{{ref.id}}/">
                        <img style="padding:1px; width: 50px;height: auto;border-radius: 5px"
                            src="{% static 'search/img/temp/'|add:ref.thumbnail %}">
                    </a>

                    {% endfor %}



                </div>



                <div class="drop-zone">
                    <div style="height: 50px; width: 95%;" id="dest_move" ondrop="drop_handler(event);"
                        ondragover="dragover_handler(event);" ondragleave="dragleave_handler(event);">
                        drop zone<br>
                    </div>
                    <input type="button" value="Update Reference" onclick="collectRefMatIds('{{thingy.id|safe}}');" />
                </div>


            </div>
            {% endfor %}


        </div>





    </div>
    {% endif %}
    <div id="right-nav">





        <div class="masonry">

            {% for ref in ref_materials %}
            <div class="masonry-item" draggable="true" id="src_move_{{ref.id}}" ondragstart="dragstart_handler(event);"
                ondragend="dragend_handler(event);">
                <a draggable="false" href="/search/{{ref.id}}/">
                    <img style="width: 100%; display: block;" draggable="false"
                        src="{% static 'search/img/temp/'|add:ref.medium %}">
                </a>
            </div>
            {% endfor %}


        </div>




















    </div>
</div>


<script>
    new SimpleBar(document.getElementById('left-nav'));
</script>


<small>{{data_test}}</small>


{% endblock %}