{% extends "base.html" %}
{% block content %}

THINGS
<hr>
<a href="/thing/creatething">create a thing</a>
<hr>

{% for thing_num, thing in data_test.items %}

    <h1>{{thing.thingName}}</h1>
    <small>
    [<a href="/thing/createthingy">add a thingy</a>, <a href="/thing/editthing/">edit thing</a>, <a href="/thing/deletething">delete thing</a>]<br>
    {{thing.start_date}} - {{thing.end_date}}<br>
    {{thing.client}}<br><br>
    </small>

    {% for thingy_num, thingy in thing.thingys.items %}
     > {{thingy}} [<a href="/thing/editthingy">edit</a>, <a href="/thing/deletethingy">delete</a>]<br>
    {% endfor %}
    <p></p>
{% endfor %}

<br>
<br>
<br>
<br>

<small>{{data_test}}</small>

{% endblock %}