{% extends "base.html" %}
{% block content %}

THINGS

<form action="{% url 'thing:add_thing' %}" method="post">
    {% csrf_token %}
    <input type="input" name="thing_name">
    <input type="submit" value="Add">
</form>

<hr>



{% for thing in things %}
<h1>{{thing.name}}</h1>
<small>
    [<a href="/thing/createthingy">add a thingy</a>, <a href="/thing/editthing/">edit thing</a>, <a
        href="/thing/deletething">delete thing</a>]<br>
    {{thing.client}}
</small>

<br><br>


{% for thingy in thing.things.all %}
> <a href="/thing/thingy/{{thingy.id}}">{{thingy}}</a> [<a href="/thing/editthingy">edit</a>, <a
    href="/thing/deletethingy">delete</a>]<br>
{% endfor %}
<p></p>

{% endfor %}


{% endblock %}