{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="submenu">

    <form action="{% url 'thing:add_thing' %}" method="post">
        {% csrf_token %}
        {{ new_thing_form }}
        <input type="submit" value="Add">
    </form>

</div>


<div class="container">

    {% for thing in things %}

    <div class="item">


        <div class="item-header">

            <div class="item-header-img">
                <div class="ribbon"><strong>DUE DATE</strong></div>
            </div>
            <div class="item-header-content">
                <div class="item-header-title">
                    <h3><a href="/thing/{{thing.id}}/search/">{{thing.name}}</a></h3>

                    <div><a href="/thing/editthing/">edit thing</a> <a href="/thing/delete/{{thing.id}}">delete
                            thing</a></div>
                </div>

                <h5>{{thing.client}}</h5>

            </div>

        </div>

        <div class="item-body">

            <form action="/thing/{{thing.id}}/thingy/add/" method="post">
                {% csrf_token %}
                {{ new_thingy_form }}
                <input type="submit" value="Add">
            </form>


            {% for thingy in thing.things.all %}
            <div class="thingy-content">
                <div class="thingy-content-header">
                    <h3><a href="/thing/thingy/{{thingy.id}}">{{thingy}}</a></h3>

                    <a style="font-size: 12px;padding-left:10px;" href="/thing/editthingy">edit</a>,
                    <a style="font-size: 12px;" href="/thing/thingy/delete/{{thingy.id}}">delete</a>
                </div>

                <div style="display: flex;flex-wrap: wrap;">


                    {% for ref in thingy.ref_materials.all %}
                    <a href="/search/{{ref.id}}/">
                        <img style="padding:1px; width: 50px;height: auto;border-radius: 5px"
                            src="{% static 'search/img/temp/'|add:ref.thumbnail %}">
                    </a>

                    {% endfor %}



                </div>
            </div>
            {% endfor %}



        </div>

    </div>





    {% endfor %}






</div>





{% endblock %}