{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" type="text/css" href="{% static 'refboard/style.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'search/style.css' %}">
  <title></title>



  <style>
    #dest_move {
      border: 5px solid blue;
      width: 290px;
      height: 50;
    }
  </style>
  <script>
    function dragstart_handler(ev) {
      console.log("dragStart");
      // Change the source element's background color to signify drag has started
      ev.currentTarget.style.border = "dashed";
      // Add the id of the drag source element to the drag data payload so
      // it is available when the drop event is fired
      ev.dataTransfer.setData("text", ev.target.id);
      // Tell the browser both copy and move are possible
      ev.effectAllowed = "copyMove";
    }
    function dragover_handler(ev) {
      console.log("dragOver");
      // Change the target element's border to signify a drag over event
      // has occurred
      ev.currentTarget.style.background = "lightblue";
      ev.preventDefault();
    }
    function drop_handler(ev) {
      console.log("Drop");
      ev.preventDefault();
      // Get the id of drag source element (that was added to the drag data
      // payload by the dragstart event handler)
      var id = ev.dataTransfer.getData("text");
      // Only Move the element if the source and destination ids are both "move"
      if (id.startsWith("src_mov") && ev.target.id == "dest_move") {
        var draggable = document.getElementById(id)
        draggable.style.height = "auto";
        draggable.style.width = "25%";

        ev.target.appendChild(draggable);
        ev.target.height = "auto";
      }
    }

    function dragend_handler(ev) {
      console.log("dragEnd");
      // Restore source's border
      ev.target.style.border = "none";
      // Resize drop zone
      var dropzone = ev.path[1];
      dropzone.style.height = "auto";
      // Remove all of the drag data
      ev.dataTransfer.clearData();
    }

    function sendRefMatIds(thingy_id, data) {
      console.log(thingy_id);
      var xhttp = new XMLHttpRequest();
      xhttp.open("POST", "/thing/append_to_thing/" + thingy_id, true);
      xhttp.setRequestHeader("X-CSRFToken", '{{ csrf_token }}')
      xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
      xhttp.send(JSON.stringify(data));
    }

    function collectRefMatIds(thingy_id) {
      console.log(thingy_id);
      var ref_ids = []
      var parent = event.target.parentNode;
      var dropzone = parent.children[0].children;
      for (var i = 0; i < dropzone.length; i++) {
        if (dropzone[i].className === 'masonry-item') {
          ref_ids.push(dropzone[i].id);
        }
      }
      sendRefMatIds(thingy_id, ref_ids)
    }
  </script>



</head>

<body>
  <div class="site-header">
    <div class="site-header-content">
      <h1 class="site-title">RefBoard</h1>
      <h2 class="site-menu">
        <a href="/thing/">Things</a>
        <a href="/search/">Search</a>
        <a href="/upload/">Upload</a>
      </h2>
    </div>
  </div>
  <div class="site-body">
    {% block content %}{% endblock %}
  </div>

</body>

</html>