{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{% static 'refboard/style.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'refboard/simplebar.css' %}">
  <script src="{% static 'refboard/js/dropzone.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'search/style.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'thing/style.css' %}">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/simplebar/4.0.0/simplebar.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simplebar/4.0.0/simplebar.css" />
  <script src="https://unpkg.com/feather-icons"></script>
  <title></title>



  <style>
    #dest_move {
      border: 5px solid blue;
      width: 290px;
      height: 50;
    }
  </style>
  <script>

    Dropzone.options.myAwesomeDropzone = {
      paramName: "file", // The name that will be used to transfer the file
      maxFilesize: 20, // MB
      uploadMultiple: true,
      // accept: function (file, done) {
      //   if (file.name == "test.jpg") {
      //     done("Naha, you don't.");
      //   }
      //   else { done(); }
      // }
    };

    function dragstart_handler(ev) {
      console.log("dragStart");
      // Change the source element's background color to signify drag has started
      ev.currentTarget.style.border = "dashed";
      // Add the id of the drag source element to the drag data payload so
      // it is available when the drop event is fired
      ev.dataTransfer.setData("text", ev.target.id);
      // Tell the browser both copy and move are possible
      ev.effectAllowed = "copyMove";
    }
    function dragover_handler(ev) {
      console.log("dragOver");
      // Change the target element's border to signify a drag over event
      // has occurred
      ev.preventDefault();
      ev.currentTarget.style.background = "lightblue";
      ev.currentTarget.style.border = "5px dashed";

    }
    function dragleave_handler(ev) {
      ev.currentTarget.style.background = "none";
      ev.currentTarget.style.border = "5px solid blue";
    }
    function drop_handler(ev) {
      console.log("Drop");
      ev.preventDefault();
      // Get the id of drag source element (that was added to the drag data
      // payload by the dragstart event handler)
      var id = ev.dataTransfer.getData("text");
      // Only Move the element if the source and destination ids are both "move"
      if (id.startsWith("src_mov") && ev.target.id == "dest_move") {
        var draggable = document.getElementById(id)
        draggable.style.height = "auto";
        draggable.style.width = "25%";

        ev.target.appendChild(draggable);
        ev.target.height = "auto";
        ev.target.style.border = "none";
      }
    }

    function dragend_handler(ev) {
      console.log("dragEnd");
      // Restore source's border
      ev.target.style.border = "none";
      // Resize drop zone
      var dropzone = ev.path[1];
      dropzone.style.height = "auto";
      dropzone.style.background = "none";
      dropzone.style.border = "5px solid blue";
      // Remove all of the drag data
      ev.dataTransfer.clearData();
    }

    function sendRefMatIds(thingy_id, data) {
      console.log(thingy_id);
      var xhttp = new XMLHttpRequest();
      xhttp.open("POST", "/thing/append_to_thing/" + thingy_id, true);
      xhttp.setRequestHeader("X-CSRFToken", '{{ csrf_token }}')
      xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
      xhttp.send(JSON.stringify(data));
    }

    function collectRefMatIds(thingy_id) {
      console.log(thingy_id);
      var ref_ids = []
      var parent = event.target.parentNode;
      var dropzone = parent.children[0].children;
      for (var i = 0; i < dropzone.length; i++) {
        if (dropzone[i].className === 'masonry-item') {
          ref_ids.push(dropzone[i].id);
        }
      }
      sendRefMatIds(thingy_id, ref_ids)
    }
  </script>



</head>

<body>

  <div class="site-header">
    <h1 class="site-title"><a href="/">things</a></h1>
    <h2 class="site-menu">
      <a href="/thing/">things</a>
      <a href="/search/">search</a>
      <a href="/upload/">upload</a>
    </h2>
  </div>



  <div class="site-body">
    {% block content %}{% endblock %}
  </div>

  <script>
    feather.replace()
  </script>

</body>

</html>