.search-content {
  margin: 0;
}
#left-nav {
    position: sticky;
    float: left;
    top: 0;
    width: 300px;
    height: 100vh;
    background-color: rgb(230, 230, 230);
    padding-right: 13px;
    
}
#right-nav {
    width: 100%;
}





.masonry {
  columns: 1;
  column-gap: 0px;
}
.masonry-item {
  display: inline-block;
  vertical-align: top;
}
@media only screen and (max-width: 1023px) and (min-width: 768px) {  .masonry {
    columns: 2;
  }
}
@media only screen and (min-width: 1024px) {
  .masonry {
    columns: 4;
  }
}



.masonry-small {
    columns: 4;
    column-gap: 0px;
  }
  .masonry-small-item {
    display: inline-block;
    vertical-align: top;
  }